@font-face {
    font-family: 'Chatlong';
    src: url(../Font/Chatlong.otf);
}

@font-face {
    font-family: 'Chapaza';
    src: url(../Font/Chapaza.ttf)
}

@font-face {
    font-family: 'Poppins';
    src: url(../Font/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9E4D4;
    margin: 2rem;
}

header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    background-color: #EED7CD;
    position: relative;
    border-radius: 1rem 1rem 0 0;
}

header h1 {
    font-family: 'Chatlong';
    color: #C373D9;
    font-size: 1.5rem;
}

#nav-list {
    /* width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    font-size: 1.25rem;
    font-family: 'Poppins';
    border-radius: 0px 0px 30px 30px; */

    background-color: #EED7CD;
    font-family: 'Poppins';
    font-size: 1rem;
    border-radius: 0px 0px 30px 30px;


    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    /* visibility: hidden;
    opacity: 0; */
    transition: 0.5s ease;
    height: 0;
    overflow: hidden;
}

#nav-list.active {
    /* opacity: 1;
    visibility: visible; */
    height: 200px;
}

#nav-list.desactive {
    height: 0;
}

#nav-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


#nav-list li a:hover {
    color: rgb(206, 92, 72);
}

.rewards {
    color: rgb(255, 255, 255);
    font-family: 'Chatlong';
    background-color: #C373D9;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: block;
    margin-top: 1rem;
}

#menu-toggle {
    border: none;
    background: none;
    font-size: 1.25rem;
    color: #000000;
    cursor: pointer;
    position: relative;
}

#button-close {
    position: absolute;
    visibility: hidden;
}

#menu-toggle.desactive-button {
    visibility: hidden;
}

#button-close.active-button-close {
    visibility: visible;
    cursor: pointer;
}

.container-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}