@font-face {
    font-family: 'Chatlong';
    src: url(../Font/Chatlong.otf);
}

@font-face {
    font-family: 'Chapaza';
    src: url(../Font/Chapaza.ttf)
}

@font-face {
    font-family: 'Poppins';
    src: url(../Font/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9E4D4;
    margin: 2rem;
}

#nav-list a:focus {
    color: rgb(206, 92, 72);
}

header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #EED7CD;
    position: relative;
    border-radius: 1rem 1rem 0 0;
}


.title{
    font-family: 'Chatlong';
    color: #C373D9;
    font-size: 0.8em;
    text-decoration: none;
}

#nav-list {
    background-color: #EED7CD;
    font-family: 'Poppins';
    font-size: 1rem;
    border-radius: 0px 0px 30px 30px;


    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    transition: 0.5s ease;
    height: 0;
    overflow: hidden;
}

#nav-list.active {
    height: 200px;
}

#nav-list.desactive {
    height: 0;
}

#nav-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


#nav-list li a:hover {
    color: rgb(206, 92, 72);
}

.rewards {
    color: rgb(255, 255, 255);
    font-family: 'Chatlong';
    background-color: #C373D9;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: block;
    margin-top: 1rem;
}

#menu-toggle {
    border: none;
    background: none;
    font-size: 1.25rem;
    color: #000000;
    cursor: pointer;
    position: relative;
}

#button-close {
    position: absolute;
    visibility: hidden;
}

#menu-toggle.desactive-button {
    visibility: hidden;
}

#button-close.active-button-close {
    visibility: visible;
    cursor: pointer;
}

.container-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:768px) {
    #menu-toggle {
        display: none;
    }

    #nav-list {
        gap: 1rem;
        flex-direction: row;
        position: static;
        overflow: visible;
    }

    .rewards {
        margin-top: 0;
    }

    .container-button {
        display: none;
    }

    #nav-list li a {
        padding: 0.4em;
        border-radius: 0.8em;
    }

    #nav-list li a:hover {
        color: white;
        background-color: #caaad2;
    }
}